<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Popup Login Form Design | CodingNepal</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      
   </head>
   <body>
      <div class="center">
         <div class="container">
            <label class="close-btn fas fa-times" title="close"></label>
            <div class="text">
               User-Login Form
            </div>
            <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
               <div class="data">
                  <label>Email</label>
                  <input type="text" formControlName="email" required>
               </div>
               <div class="data">
                  <label>Password</label>
                  <input type="password" formControlName="password" required>
               </div>
               <div class="forgot-pass">
                  <a routerLink="/forgot-password" >Forgot Password?</a>
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">login</button>
               </div>
               <div class="signup-link">
                  Not a member? <a routerLink="/register">Register</a>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>
